{% extends "index.html.twig" %}
{% block title %} Mon espace - {{ parent() }}{% endblock %}

{% block body %}

    <h1>Mon espace :</h1>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Rôle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.role }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}