{% extends "index.html.twig" %}
{% block title %} Détail de l'article - {{ parent() }}{% endblock %}

{% block body %}

    <h1>Administration :</h1>
    <ul>
        <li>
            <a href="/User/ListAll">Liste des utilisateurs</a>
        </li>
        <li>
            <a href="/Article/ListAll">Liste des articles</a>
        </li>
        <li>
            <a href="#">Liste des catégories</a>
        </li>
    </ul>

{% endblock %}