{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Inscription {% endblock %}
{% block css %}
    <style>
        form#login {
            margin-right: 30%;
            margin-left: 30%;
            margin-top: 3%;
        }

        input#login, button#exit {
            width: 150px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container-fluid mt-2">
        {% if session.errorlogin is defined %}
            <div class="alert alert-danger">{{ session.errorlogin }}</div>
        {% endif %}
        <form method="post" action="/User/Register" id="login">
            <h1>Inscription :</h1>
            <p>Nom d'utilisateur :</p>
            <input type="text" name="username" class="form-control" placeholder="Entrer un nom pseudo">
            <p>Adresse mail :</p>
            <input type="email" name="mail" class="form-control" placeholder="Ex : exemple@mail.com">
            <p>Rôle :&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="roleAdmin" value="admin"/>Administrateur
                &nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="roleRedac" value="redac"/>Rédacteur
            </p>
            <p>Mot de passe :</p>
            <input type="password" name="password" class="form-control" placeholder="Saisir un mot de passe">
            <p>Confirmer le mot de passe :</p>
            <input type="password" name="checkPwd" class="form-control" placeholder="Répéter votre mot de passe"><br>
            <input id="login" type="submit" class="btn btn-secondary">
            <input id="login" type="reset" class="btn btn-secondary">
            <a href="/User/Compte">
                <button id="exit" type="button" class="btn btn-secondary">Quitter</button>
            </a>
        </form>
    </div>
{% endblock %}
